<li class="itemMenu--a-btn" >
<a class="a-btn">
<form method="POST" class="form-inline" action="{{ request.path }}">
   {% csrf_token %}
   {% for error in form.non_field_errors %}
     <div class="text-danger">{{ error }}</div>
   {% endfor %}
   <div class="form-group ">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
         <span class="help-inline">{{ error }}</span>
        {% endfor %}
      {% endif %}
      <input type="text" class="input-login col-xs-12 " name="username" id="id_username" placeholder="Usuário" required maxlength="254">
   </div>
   <div class="form-group ">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
         <span class="help-inline">{{ error }}</span>
        {% endfor %}
      {% endif %}
      <input type="password" class="input-login col-xs-12" name="password" id="id_password" placeholder="Senha" required>
   </div>
   <div class="form-group">
      <button type="submit" class="btn-entrar col-xs-12">Entrar</button>
   </div>
<div class="form-inline ">
   <div class="form-group form-registrar">
      <a class="a-registrar" href="{% url 'contas:cadastro' %}">Registre-se</a>
   </div>
   <div class="form-group col-sm-6 form-esqueciSenha">
      <a class="a-esqueciSenha" href="#">Recuperar Senha</a>
   </div>
</div>
</form>
</a>
</li>