{% extends "base.html" %}

{% block container %}

{% for message in messages %}
{{ message }}
{% endfor %}


<section class="section-cadastrar">
  <div class="col-xs-12 col-sm-8 col-md-6">

    <div class="page-header page-header--style">
      <h1>Criar uma Conta BetsMania</h1>
      <p >Crie uma conta e ganhe dinheiro com a BetsMania.</p>
    </div>


    <form id="login" method="POST" action="{{ request.path }}">{% csrf_token %}

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        <label for="inputName">Nome Completo</label>
        <input type="text" name="{{ form.first_name.name }}" class="form-control input-border" id="inputName" required="">
        {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% endif %}
      </div>

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        <label for="inputUsuario">Usuário</label>
        <input type="text" name="{{ form.username.name }}" class="form-control input-border" id="inputUsuario" required="">
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% endif %}
      </div>

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        <label for="inputEmail">Email</label>
        <input type="email" name="{{ form.email.name }}" class="form-control input-border" id="inputEmail" required="">
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% endif %}

      </div>

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        <label for="inputSenha">Senha</label>
        <input type="password" name="{{ form.password.name }}" class="form-control input-border" id="inputSenha" required="">
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% endif %}
      </div>

      <div class="form-group text-right m-t-30">
        <div class="col-xs-12">
          <button class="btn btn-default1 btn-border" type="submit">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>


</section>

{% endblock %}
