DEBUG = True

ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'betsmania',
        'USER': 'bets',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    }
}