body{
 background-color: rgba(95, 121, 140, 0.17);
 overflow-y: scroll;
}

.navbar--style{
   background-color: #3C4D59 !important;
   border-color: #5F798C !important;
   padding: 0 10px;
}

.divider-row{
   width: 20%;
   min-height: 1px;
   float: left;
}

.navbar-right{
   margin: 0 !important;
}

.btn-default1{

   padding: 0 7px !important;
   border-color: transparent !important;
   color: #5F798C !important;
   background-color: #fff !important;
   font-weight: bold;
   font-size: 12px !important;
   min-height: 34px;

}

.btn-default1:hover,
.btn-default1:active{

   border-color: #fff !important;

}

.btn-default1:hover,
.btn-default1:active,
.userLogged--a:focus,
.userLogged--a:active,
.userLogged--a,
.input-login{

   color:#fff !important;
   background-color: #5F798C !important;

}

.navbar-brand{

   color: #D8D888 !important;

}

.itemMenu--a,
.itemMenu--a:focus,
.itemMenu:hover> .itemMenu--a{

   color: #fff !important;
   cursor: pointer;

}

.userLogged li>a,
.userLogged li:hover>a{

   color: #5F798C !important;

}

.a-btn{
   padding: 10px 5px 0px 0px !important;
}

.itemMenu--a-btn{

   min-height: 25px !important;

}

.itemMenu--a-btn:hover{

  background-color: transparent !important;

}

.userLogged--a{

    border:1px solid transparent !important;
    border-left-color: #fff !important;
    border-right-color: #fff !important;
    font-weight: bold;
    padding: 0 !important;

}

.btn-entrar{
   background-color: #D8D888 !important;
   color:#3C4D59 !important;
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 2px 4px;
}

.btn-border,
.input-border{

   border: 1px solid #3C4D59 !important;
}

.form-login{
   padding: 3px 12px !important;
}

.form-group .input-login,
.input-login,
.btn-entrar{
   position: relative;
   font-size: 11px;
   font-weight: normal;
   margin: 2px 0;
}

.input-login{
   padding: 2px 4px;
   border: 1px solid #5F798C;
   background-color: #5F798C !important;
   color:#fff !important;
}

.input-login::-webkit-input-placeholder {
   color: #3C4D59;
}

.input-login:-moz-placeholder { /* Firefox 18- */
   color: #3C4D59;
}

.input-login::-moz-placeholder {  /* Firefox 19+ */
   color: #3C4D59;
}

.input-login:-ms-input-placeholder {
   color: #3C4D59;
}

.form-esqueciSenha{
   float: right;
   padding: 0 !important;
}

.a-registrar,
.a-registrar:hover,
.a-registrar:visited,
.a-registrar:link
.a-esqueciSenha,
.a-esqueciSenha:hover,
.a-esqueciSenha:visited,
.a-esqueciSenha:link{
   color: #D8D888;
   font-size: 11px;
}

.form-esqueciSenha,
.form-registrar{

   margin-bottom: 4px !important;
}

.foto-perfil{
   width: 50px;
}


@media screen and (max-width: 767px) {

   #navbar{

      border-top: 1px solid rgba(255,255,255,.4);

   }

   .itemMenu,
   .nav .userLogged li{

      padding: 0 15px;
      margin-bottom: 4px;

   }

   .itemMenu--a,
   .nav .userLogged  li  a{

       border-bottom: 1px solid rgba(255,255,255,.3);
       color: #fff !important;

   }

   .itemMenu:hover{

      background-color: transparent !important;

   }

   .userLogged >  .userLogged--a,
   .userLogged--a:focus,
   .userLogged--a:active,
   .itemMenu:hover .userLogged--a{

      margin: 0 15px !important;
      padding: 15px 15px !important;
      background-color:#fff  !important;
      color: #5F798C !important;
      text-align: center;

   }

   .btn-default1{

      min-height: 35px;
      margin: 4px 0;
      padding: 0px 12px !important;
      color: #5F798C !important;
      font-weight: bold;

   }

   .navbar-toggle--style{

      border-color: #fff !important;

   }

   .navbar-toggle--style:hover > span,
   .navbar-toggle--style:focus > span{

      background-color: #5F798C !important;

   }

   .navbar-toggle--style > span{

      background-color: #fff !important;

   }

   .divider{
      display: none !important;
   }

   .divider-row{
      display: none;
   }

   .form-esqueciSenha{
      margin-right: 5px;
   }

   .form-registrar{
      float: left;
   }

   .form-esqueciSenha,
   .form-registrar{
      width: 49%;
      padding: 0 !important;
      padding: 0 20px;
      margin: 4px 0;
      text-align: center;
   }

}

@media screen and (max-width: 1050px) {
   .divider-row{
      width: 13%;
   }

}

@media screen and (max-width: 930px) {
   .divider-row{
      width: 8%;
   }

}

@media (min-width: 768px) and (max-width: 874px) {

   .a-btn .form-group{
      display: block !important;
   }

   .navbar-right .itemMenu--a-btn{
      width: 100%;
   }

   .navbar-right{
      width: 25%;
   }

   .form-esqueciSenha,
   .form-registrar{
      padding: 0 !important;
      text-align: left;
   }

}
