{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BetsMania - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleBase.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleHome.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleLogged.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleLogin.css' %}" rel="stylesheet">
    <link href="{% static 'css/styleRegister.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar--style navbar-fixed-top">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-toggle--style collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
         BetsMania
         <img class="logo" alt="Brand" src="{% static 'img/ball1.png' %}">
      </a>
   </div>
   {% if user.is_authenticated %}
   <div class="divider-row"></div>
   {% endif %}
   <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
         <li class="itemMenu"><a href="#" class="itemMenu--a">Jogos</a></li>
         <li class="itemMenu"><a href="#about" class="itemMenu--a">Apostas</a></li>
         <li class="itemMenu"><a href="#contact" class="itemMenu--a">Regras</a></li>
         <li class="itemMenu"><a href="#contact" class="itemMenu--a">Contatos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated %}
         <li class="dropdown userLogged">
            <a href="#" class="dropdown-toggle userLogged--a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               <img src="{% static 'img/02.jpg' %}" alt="Foto de Perfil" class="img-circle profilePicture">
               <h4 class="nameUser">{{ user }}<span class="caret"></span></h4>
            </a>
            <ul class="dropdown-menu optionUser">
               <li><a href="#">Perfil</a></li>
               <li><a href="#">Minhas Apostas</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="{% url 'contas:logout' %}">Sair</a></li>
            </ul>
         </li>
         {% else %}
         <div id="form-login"></div>
         {% endif %}
      </ul>
   </div><!--/.nav-collapse -->
</nav>

<div class="container-fluid">
    {% block container %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script type="text/javascript">

function showMessage(message, tag){
     $.notify({
         message: message
     },{
         type: tag
     },{
         animate: {
             enter: 'animated fadeInDown',
             exit: 'animated fadeOutUp'
         },
     });
};
{% if messages %}
{% for message in messages %}
    showMessage('{{message}}', '{{message.tags}}');
{% endfor %}
{% endif %}

$(document).ready(function(){
   $.get('{% url 'contas:login' %}', function(data){
      $('#form-login').html(data);
   });

   $('body').on('submit', '#form-login form', function(event) {
      event.preventDefault();
      var form = $(this);
      form.ajaxSubmit({
         dataType: 'html',
         success: function(response) {
           console.log(response)
         },
         error: function(data, textStatus) {
           form.replaceWith(data.responseText);
         },
      });
    });


});
</script>
{% block js %}{% endblock %}
</body>
</html>
